html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .hero-slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -40px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 1;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    opacity: 0;
    z-index: 0;
    transition: opacity 1.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  
  .slide.active {
    opacity: 1;
    z-index: 2;
    /*animation: subtleZoom 10s ease-in-out infinite alternate;   <---antigo*/

  /* New test*/
    pointer-events: auto;
  }

  /* @keyframes subtleZoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }*/
  
  .hero-content {
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    padding: 2rem 3rem;
    border-radius: 12px;
    text-align: center;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
  }
  

/* new test------------------------------------------------*/
  
  .slide.active .hero-content {
    opacity: 1;
    transform: translateY(0);
  }
/*-------------------------------------------------------*/

  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-content button {
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    background-color: #D4A857;
    border: none;
    color: #1A2B3C;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #DB5935;
    color: #fff;
  }
  
  .dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .dot.active {
    opacity: 1;
    background: #D4A857;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    .hero-content {
      padding: 1.5rem;
      max-width: 95%;
    }
  
    .hero-content h1 {
      font-size: 1.7rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .hero-content button {
      width: 100%;
      padding: 0.7rem;
    }
  }
  