/* Colors

#378285
#E0CB9E
#F6C566
#F1B647
#D4A857
#DC9640
#DB5935
#86b59e

*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
    color: #1A2B3C;
  }
  
  /* 📌 Container global */
  .main-container {
    max-width: calc(1250px + 2rem);
    margin: 0 auto;
    padding: 0 1rem;
  }